app/pug/pages/portfolio.pug
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Creative Minimalistic HTML5 Template
        meta(name='”description”', content='””')
        meta(name='”keywords”', content='””')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='css/main.min.css')


    body.single-page
        include ../layouts/header/index

        main
            section.portfolio_page
                .container.portfolio_container
                    .slider_nav
                        .slider_nav_item
                            img.slider_nav_pic(src="./img/slider_nav.jpg")
                        .slider_nav_item
                            img.slider_nav_pic(src="./img/slider_nav.jpg")
                        .slider_nav_item.active
                            img.slider_nav_pic(src="./img/slider_nav.jpg")
                        .slider_nav_item
                            img.slider_nav_pic(src="./img/slider_nav.jpg")
                        .slider_nav_item
                            img.slider_nav_pic(src="./img/slider_nav.jpg")
                    .slider_list
                        .slider_item
                            .slider_item_info
                                .slider_category.article_category DESIGN
                                .slider_title.article_title Website for furniture stor
                                .slider_text.article_text Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            .slider_item_right
                                img(src="./img/slider_pic.jpg")
                                a.slider_item_link http/urniture stor.com.ua
                            .slider_item_list
                                .slider_item_list_item
                                    .slider_item_list_title client
                                    .slider_item_list_text BC Corporation
                                span |
                                .slider_item_list_item
                                    .slider_item_list_title client
                                    .slider_item_list_text BC Corporation
                                span |
                                .slider_item_list_item
                                    .slider_item_list_title client
                                    .slider_item_list_text BC Corporation

app/portfolio.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Creative Minimalistic HTML5 Template</title>
    <meta name="”description”" content="””">
    <meta name="”keywords”" content="””">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/main.min.css">
  </head>
  <body class="single-page">
    <header><a class="logo" href="./index.html">millennium</a>
      <div class="menu">
        <h3 class="menu_title">menu</h3>
        <div class="menu_wrap">
          <ul class="menu_list">
            <li class="menu_item"><span class="menu_number">01</span><a class="menu_link" href="./index.html">Home</a><span class="menu_icon icon-cheveron-left"></span>
              <ul class="menu_submenu">
                <li class="menu_submenu_li"><a class="menu_submenu_link" href="./index.html">burger menu</a></li>
                <li class="menu_submenu_li"><a class="menu_submenu_link" href="./404.html">page 404</a></li>
                <li class="menu_submenu_li"><a class="menu_submenu_link" href="./index.html">dark version</a></li>
              </ul>
            </li>
            <li class="menu_item"><span class="menu_number">02</span><a class="menu_link" href="./aboutUs.html">about us</a></li>
            <li class="menu_item"><span class="menu_number">03</span><a class="menu_link" href="./index.html">Portfolio</a><span class="menu_icon icon-cheveron-left"></span>
              <ul class="menu_submenu">
                <li class="menu_submenu_li"><a class="menu_submenu_link" href="./index.html">burger menu</a></li>
                <li class="menu_submenu_li"><a class="menu_submenu_link" href="./404.html">page 404</a></li>
                <li class="menu_submenu_li"><a class="menu_submenu_link" href="./index.html">dark version</a></li>
              </ul>
            </li>
            <li class="menu_item"><span class="menu_number">04</span><a class="menu_link" href="./blog.html">Blog</a></li>
            <li class="menu_item"><span class="menu_number">05</span><a class="menu_link">Contacts</a></li>
          </ul>
        </div>
      </div><a class="humburger"><span></span><span></span><span></span>
        <!--.language-->
        <!--    a.language_item EN-->
        <!--    a.language_item FR--></a>
    </header>
    <main>
      <section class="portfolio_page">
        <div class="container portfolio_container">
          <div class="slider_nav">
            <div class="slider_nav_item"><img class="slider_nav_pic" src="./img/slider_nav.jpg"></div>
            <div class="slider_nav_item"><img class="slider_nav_pic" src="./img/slider_nav.jpg"></div>
            <div class="slider_nav_item active"><img class="slider_nav_pic" src="./img/slider_nav.jpg"></div>
            <div class="slider_nav_item"><img class="slider_nav_pic" src="./img/slider_nav.jpg"></div>
            <div class="slider_nav_item"><img class="slider_nav_pic" src="./img/slider_nav.jpg"></div>
          </div>
          <div class="slider_list">
            <div class="slider_item">
              <div class="slider_item_info">
                <div class="slider_category article_category">DESIGN</div>
                <div class="slider_title article_title">Website for furniture stor</div>
                <div class="slider_text article_text">Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
              </div>
              <div class="slider_item_right"><img src="./img/slider_pic.jpg"><a class="slider_item_link">http/urniture stor.com.ua</a></div>
              <div class="slider_item_list">
                <div class="slider_item_list_item">
                  <div class="slider_item_list_title">client</div>
                  <div class="slider_item_list_text">BC Corporation</div>
                </div><span>|</span>
                <div class="slider_item_list_item">
                  <div class="slider_item_list_title">client</div>
                  <div class="slider_item_list_text">BC Corporation</div>
                </div><span>|</span>
                <div class="slider_item_list_item">
                  <div class="slider_item_list_title">client</div>
                  <div class="slider_item_list_text">BC Corporation</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
