app/pug/components/feedback/index.pug
.container.section_feedback_title
    span.bgc_text our partners
    h2.section_title.blue Our partners and <br> clients
.feedback
    .container
        .feedback_content
            h3.feedback_title feedback
            p.feedback_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            p.feedback_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.

        .feedback_slider
            .feedback_item
                i.icon-right-quote
                h4.feedback_item_title Thank you!
                p.feedback_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                .feedback_item_person
                    img.feedback_item_pic(src='../img/commit.jpg')
                    .feedback_item_person_info
                        span.feedback_item_name Thomas Frait
                        span.feedback_item_company  Google Company
            .feedback_item
                i.icon-right-quote
                h4.feedback_item_title Great results
                p.feedback_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                .feedback_item_person
                    img.feedback_item_pic(src='../img/commit.jpg')
                    .feedback_item_person_info
                        span.feedback_item_name Thomas Frait
                        span.feedback_item_company  Google Company
            .feedback_item
                i.icon-right-quote
                h4.feedback_item_title Great results
                p.feedback_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                .feedback_item_person
                    img.feedback_item_pic(src='../img/commit.jpg')
                    .feedback_item_person_info
                        span.feedback_item_name Thomas Frait
                        span.feedback_item_company  Google Company

dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Creative Minimalistic HTML5 Template</title>
    <meta name="”description”" content="””">
    <meta name="”keywords”" content="””">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/main.min.css">
  </head>
  <body>
    <header>
      <div class="container"><a class="logo" href="./index.html">millennium</a>
        <div class="header_nav"><a class="humburger"><span></span><span></span><span></span></a>
          <div class="language"><a class="language_item">EN</a><a class="language_item">FR</a></div>
        </div>
      </div>
    </header>
    <div class="menu">
      <h3 class="menu_title">menu</h3>
      <ul class="menu_list">
        <li class="menu_item"><span>01</span><a class="menu_link" href="./index.html">Home</a>
          <ul class="menu_submenu">
            <li class="menu_submenu_li"><a class="menu_submenu_link" href="./index.html">burger menu</a></li>
            <li class="menu_submenu_li"><a class="menu_submenu_link" href="./404.html">page 404</a></li>
            <li class="menu_submenu_li"><a class="menu_submenu_link" href="./index.html">dark version</a></li>
          </ul>
        </li>
        <li class="menu_item"><span>02</span><a class="menu_link" href="./aboutUs.html">about us</a></li>
        <li class="menu_item"><span>03</span><a class="menu_link" href="./index.html">Portfolio</a></li>
        <li class="menu_item"><span>04</span><a class="menu_link" href="./blog.html">Blog</a></li>
        <li class="menu_item"><span>05</span><a class="menu_link">Contacts</a></li>
      </ul>
    </div>
    <main>
      <section class="section">
        <div class="topic">
          <div class="container">
            <div class="topic_text">
              <h1 class="topic_title">web <p>For us, every project is the realization of our capabilities and proof that you can make a breakthrough in business in the shortest possible time</p> agency</h1><a class="topic_link">learn more<i class="icon-chevrons-right"></i></a>
            </div>
            <div class="topic_pic"><img class="topic_image" src="./img/topic.jpg"></div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="about">
          <div class="container">
            <h2 class="section_title blue">About us</h2>
            <div class="about_row">
              <p class="about_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><img class="about_top_pic" src="./img/image computer.jpg">
            </div>
            <div class="about_row">
              <div class="about_video">
                <button class="video_on">watch the video</button>
                <div class="about_video_container"><img src="./img/video.jpg"></div>
              </div>
              <div class="about_container_text">
                <p class="about_text about_bottom_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                <p class="about_text about_bottom_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="services">
          <div class="container"><span class="bgc_text">services</span>
            <h2 class="section_title blue">Services our <br> company</h2>
            <div class="services_row">
              <div class="services_pic"><img src="./img/services.jpg"></div>
              <div class="services_content">
                <p class="services_content_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <div class="services_list">
                  <div class="services_item">
                    <div class="services_item_title"><span>M</span>
                      <h4>mobile <br> Solutions</h4>
                    </div>
                    <p class="services_item_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="services_item">
                    <div class="services_item_title"><span>W</span>
                      <h4>Web <br> Development</h4>
                    </div>
                    <p class="services_item_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="services_item">
                    <div class="services_item_title"><span>W</span>
                      <h4>Website <br> design</h4>
                    </div>
                    <p class="services_item_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="services_item">
                    <div class="services_item_title"><span>H</span>
                      <h4>HTML5 AND <br> CSS3</h4>
                    </div>
                    <p class="services_item_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="services_item">
                    <div class="services_item_title"><span>E</span>
                      <h4>E-commerce <br> solutions</h4>
                    </div>
                    <p class="services_item_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="services_item">
                    <div class="services_item_title"><span>C</span>
                      <h4>CROSS-BROWSER <br> SUPPORT</h4>
                    </div>
                    <p class="services_item_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="portfolio">
          <div class="container"><span class="bgc_text">Our portfolio</span>
            <h2 class="section_title blue">Our portfolio</h2>
            <div class="portfolio_list">
              <div class="portfolio_item portfolio_item_small"><img class="portfolio_item_pic" src="./img/first.jpg"><span class="portfolio_item_category">DESIGN</span><a class="portfolio_item_link" href="">Website for creative company</a></div>
              <div class="portfolio_item portfolio_item_big"><img class="portfolio_item_pic" src="./img/second.jpg"><span class="portfolio_item_category">WEB DEVELOPMENT</span><a class="portfolio_item_link" href="">Website for furniture stor</a></div>
              <div class="portfolio_item portfolio_item_small"><img class="portfolio_item_pic" src="./img/three.jpg"><span class="portfolio_item_category">DESIGN</span><a class="portfolio_item_link" href="">Website for creativel company</a></div>
              <div class="portfolio_item portfolio_item_big"><img class="portfolio_item_pic" src="./img/four.jpg"><span class="portfolio_item_category">DESIGN</span><a class="portfolio_item_link" href="">Website for creativel company</a></div>
              <div class="portfolio_item portfolio_item_small"><img class="portfolio_item_pic" src="./img/five.jpg"><span class="portfolio_item_category">WEB DEVELOPMENT</span><a class="portfolio_item_link" href="">Website for web studio</a></div>
              <div class="portfolio_item portfolio_item_big"><img class="portfolio_item_pic" src="./img/six.jpg"><span class="portfolio_item_category">DESIGN</span><a class="portfolio_item_link" href="">Website for a restaurant</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="team">
          <div class="container"><span class="bgc_text">Our Team</span>
            <h2 class="white section_title">Our team</h2>
            <p class="team_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            <div class="team_list">
              <div class="team_item"><img class="team_item_pic" src="./img/Robi.jpg"><span class="team_item_name">Robi Braun</span><span class="team_item_position">Creative Director</span></div>
              <div class="team_item"><img class="team_item_pic" src="./img/Mia.jpg"><span class="team_item_name">Mia Curtir</span><span class="team_item_position">Software Developer</span></div>
              <div class="team_item"><img class="team_item_pic" src="./img/Harry.jpg"><span class="team_item_name">Harry Bront</span><span class="team_item_position">Chief Technology Officer</span></div>
              <div class="team_item"><img class="team_item_pic" src="./img/Jessica.jpg"><span class="team_item_name">Jessica Vurs</span><span class="team_item_position">Project Manager</span></div>
              <div class="team_item"><img class="team_item_pic" src="./img/Thomas.jpg"><span class="team_item_name">Thomas Frait</span><span class="team_item_position">Technical Support</span></div>
              <div class="team_item"><img class="team_item_pic" src="./img/Amelia.jpg"><span class="team_item_name">Amelia Braun</span><span class="team_item_position">Team Leader</span></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="container section_feedback_title"><span class="bgc_text">our partners</span>
          <h2 class="section_title blue">Our partners and <br> clients</h2>
        </div>
        <div class="feedback">
          <div class="container">
            <div class="feedback_content">
              <h3 class="feedback_title">feedback</h3>
              <p class="feedback_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
              <p class="feedback_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
            </div>
            <div class="feedback_slider">
              <div class="feedback_item"><i class="icon-right-quote"></i>
                <h4 class="feedback_item_title">Thank you!</h4>
                <p class="feedback_item_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                <div class="feedback_item_person"><img class="feedback_item_pic" src="../img/commit.jpg">
                  <div class="feedback_item_person_info"><span class="feedback_item_name">Thomas Frait</span><span class="feedback_item_company"> Google Company</span></div>
                </div>
              </div>
              <div class="feedback_item"><i class="icon-right-quote"></i>
                <h4 class="feedback_item_title">Great results</h4>
                <p class="feedback_item_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                <div class="feedback_item_person"><img class="feedback_item_pic" src="../img/commit.jpg">
                  <div class="feedback_item_person_info"><span class="feedback_item_name">Thomas Frait</span><span class="feedback_item_company"> Google Company</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="contact">
          <div class="container"><span class="bgc_text">Let`s work together</span>
            <h2 class="section_title blue">Let `  s work together</h2>
            <div class="contact_content">
              <form class="contact_form">
                <input class="contact_input" type="text" placeholder="First name*" required>
                <input class="contact_input" type="text" placeholder="Your phone*" required>
                <input class="contact_input" type="text" placeholder="Your email*" required>
                <input class="contact_input" type="text" placeholder="Massage*" required>
                <button class="contact_btn" type="submit">Send message<i class="icon-chevrons-right"></i></button>
              </form>
              <div class="contact_content_pic"><img src="./img/contact.jpg"></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="footer_company"><a class="footer_logo logo">millennium</a>
          <p class="footer_info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quo praesentium ullam consectetur enim.</p>
        </div>
        <div class="footer_adress">
          <h4 class="footer_title">address</h4>
          <p class="footer_info">10 Hawley Benert <br>NW1 8NP, London</p>
        </div>
        <div class="footer_contacct">
          <h4 class="footer_title">contacts</h4>
          <p class="footer_info">+44(0) 00 000 000 00 <br>london@example.com</p>
        </div>
        <div class="footer_follow">
          <h4 class="footer_title">follow us</h4><a class="footer_follow_lonk"><i class="icon-facebook"></i></a><a class="footer_follow_lonk"><i class="icon-twitter"></i></a><a class="footer_follow_lonk"><i class="icon-linkedin"></i></a><a class="footer_follow_lonk"><i class="icon-pinterest2"></i></a>
        </div>
      </div>
    </footer>
    <!--script(src='js/scripts.min.js')-->
  </body>
</html>
